body {
    margin: 0;
    height: 100vh;
    background: url(../images/background.jpeg) center center / cover no-repeat;
}

.welcome {
    position: absolute;
    left: 20%;
    top: 25%;
    width: 50%;
}

.welcome h1 {
    font-size: 120px;
}